.form
{
  display:grid;
  gap:30px;
  padding:40px;
  border-radius:20px;
  background:url('./assets/formbg-modified.jpg');
  background-position: center center;
  background-repeat:no-repeat;
  background-size:cover;
  width:400px;
  margin:auto;
  user-select: none;
  box-shadow: 5px 5px 10px black;
}
.cover
{
  position:relative;
}
.img
{
  position:absolute;
  right:10px;
  top:8px;
  width:20px;
  height:20px;
}
.icon
{
  position:absolute;
  font-size:20px;
  cursor:pointer;
}
.submitbutton
{
  width:fit-content;
  font-size:20px;
  padding:10px 20px;
  border-radius:10px;
  font-weight:bold;
  background:black;
  transition:all 0.3s ease-in-out;
  border:none;
  color:white;
  border:2px solid black;
  cursor:pointer;
}
.submitbutton:hover
{
  color:black;
  background-color:white;
  box-shadow: 5px 5px 10px black;
  border:2px solid black;
  scale:1.01;
}
.eachinput
{
  display:grid;
  gap:10px;
}
.label
{
  font-size: 20px;
  text-align:left;
  width:fit-content;
  font-weight:bold;
}
.input
{
  cursor:pointer;
  width:100%;
  height:40px;
  font-size: 20px;
  padding:5px 10px 5px 10px ;
  border:none;
  border-radius:10px;
}

.heading
{
  text-align:center;
  font-weight:bold;
  font-size:40px;
}
@media(max-width:600px)
{
  .form
  {
    width:90%;
    margin:auto;
  }
  .submitbutton
  {
    width:100%;
    border-radius:5px;
  }
}
.LiaEyeSolid
{
  display:none;
}